@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/*shared style*/
.display-flex{
    display: flex;
}
.text-primary{
    color: #FF900E;
}
/*dark 02*/
.text-gray{
    color: #424242;

}
/*dark 03*/
.text-light-gray{
    color: #727272;

}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    color: white;
    background-color: #FF900E;
    padding: 20px 25px;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main >section{
    margin-top: 130px;
}
.navbar {
    justify-content: space-between;
}
.brand{
    font-size: 700;
    font-weight: 3rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;

}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
    margin-top: 180px;
}
#Quick list{
    font-weight: 500;
}
.facts-container{
    max-width: 1340;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    
}
.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.fact-number{
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}
.fact-name{
    font-size: 1.2rem;
    font-family: 600px;
    margin-top: 10px;
}
.fact-discription{
    max-width: 540px;
    margin-bottom: 70px;

}
/*banner type*/
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-image{
    width: 100%;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.our-feature{
    margin-left: 74px;
    max-width: 535px;
 
}
.feature{
    gap: 140px;
}
#feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
        

}
.feature-card{
    border-radius: 8px;
    padding: 30px;
    box-shadow: 4px 30px #1e1e1e1c;
    margin-bottom: 20px;
}

.feature-card .feature-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
    
}
.feature-arcitect img{
    max-width: 100%;

}
#experience-badge{
    font-size: 1.5rem;
    font-weight: 500;
    padding: 45px 42px;
    margin-left: -100px;
    margin-top: -100px;
}
#experience-year{
    font-size: 4rem;
    font-weight: 700;
}
/*sponsors related*/
.sponsors-infu{
    max-width: 542px;
    margin: 50px auto;
    text-align: center;
}
.Sponspors-companys{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    max-width: 1440px;
    justify-items: center;
}
.Sponspors-companys img{
    filter: grayscale(100%);
}
.foot{
    text-align: center;
    padding: 100px;
}
@media screen and (max-width:576px) {
    .navbar, 
    .nav-links, 
    .teams, 
    .feature {
        flex-direction: column;
        text-align: center;
    }
    #experience-badge{
        margin-left: -5px;
    }
    .team-img-container, 
    .facts-container, 
    .Sponspors-companys{
        grid-template-columns: repeat(1, 1fr);
    }
    .Sponspors-companys{
        gap: 45px;
    }
    .our-feature {
        margin-left: 10px;
    }    
   
    .facts-container{
        justify-items: center;
    }
}    
@media screen and (min-width:576px) and (max-width:992px) {
    .teams, .feature{
        flex-direction: column;
    }
    #experience-badge{
        margin-left: -5px;
    }
    .Sponspors-companys,
    .facts-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }
    .teams,{
        align-items: center;
    }
    .section-title, .section-title p{
        text-align: center;
    }
}