@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/*shared style*/
.display-flex{
    display: flex;
}
.text-primary{
    color: #FF900E;
}
/*dark 02*/
.text-gray{
    color: #424242;

}
/*dark 03*/
.text-light-gray{
    color: #727272;

}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    color: white;
    background-color: #FF900E;
    padding: 20px 25px;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main >section{
    margin-top: 130px;
}
.navbar {
    justify-content: space-between;
}
.brand{
    font-size: 700;
    font-weight: 3rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;

}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
    margin-top: 180px;
}
#Quick list{
    font-weight: 500;
}
/*banner type*/
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-image{
    width: 100%;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.our-feature{
    margin-left: 74px;
    max-width: 535px;
 
}
@media screen and (max-width:576px) {
    .navbar, 
    .nav-links, 
    .teams {
        flex-direction: column;
        text-align: center;
    }
    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .our-feature{
        margin-left: 10px;
    }
}    
@media screen and (min-width:576px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }
    
}